body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

button > a, button > a:hover {
    color: white;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    width: 100%;
}

label {
    font-size: 16px;
    font-weight: 600;
}

.error {
    color: red;
    font-size: 16px;
}

li + li {
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    height: 100%;
    width: 100%;
}

textarea {
    height: 300px;
    resize: none;
}

th {
    font-size: 16px;
}

td, tr {
    margin-top: 5px;
    margin-bottom: 5px;
}

tr + tr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.sidebar-nav > li {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}