extends layout

block content
  h1=title

    form(method='POST' action='/catalog/authors/create')
        label(for='firstName') First Name:
        input.form-control(type='text' placeholder='First name' name='firstName' required='true' value=(author == undefined ? '' : author.firstName))
        label(for='lastName') Family Name:
        input.form-control(type='text' placeholder='Last name' name='lastName' required='true' value=(author == undefined ? '' : author.lastName))
        label(for='dateOfBirth') Date of birth:
        input.form-control(type='date' name='dateOfBirth' value=(author == undefined ? '' : author.dateOfBirth))
        label(for='dateOfDeath') Date of death:
        input.form-control(type='date' name='dateOfDeath' value=(author == undefined ? '' : author.dateOfDeath))
        div.buttons
            button.btn.btn-primary(type='submit') Submit
    if errors
        ul
            for error in errors
                li.error= error.msg
